@import "./resets";
@import "./variables";

//=======GENERAL=======//
img {
	height: auto;
	max-width: 100%;
}

ul {
	list-style: none;
}

.footer {
	background-color: $color-primary-400;
}

.header,
.section-signup,
.section-intro {
	background-color: $color-primary-200;
}

.input-email {
	border-radius: 30px;
	width: 100%;
	margin: 1.5rem 0 1.4rem 0;
	padding: 14px;
}

.section-features,
.section-productive,
.section-testimonials {
	background-color: $color-primary-300;
}

.section-signup {
	box-shadow: 5px 5px 10px black;
}

.social-links a:hover {
	color: $color-accent-cyan;
}

//=======TYPOGRAPHY=======//
a {
	color: $color-neutral;
	text-decoration: none;
}

body {
	color: $color-neutral;
	font-family: $font-primary;
	font-size: 0.875rem;
}

button,
h1,
h2,
nav {
	font-family: $font-secondary;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.125rem;
}

p {
	line-height: 1.5;
}

.footer-links a:hover {
	font-weight: 700;
}

.link-productive {
	color: $color-accent-cyan;
	text-decoration: underline;
}

.link-productive:hover {
	color: $color-neutral;
}

.link-productive img {
	vertical-align: bottom;
}

.navbar-links {
	font-size: 0.875rem;
}

.navbar-links a:hover {
	font-weight: 700;
	text-decoration: underline;
}

//=======LAYOUT=======//
h1,
h2 {
	padding: 2rem 0 1rem 0;
}

ul li {
	margin-bottom: 0.9rem;
}

// .bg-curve {
// 	top: 495px;
// 	position: absolute;
// 	width: 100%;
// }

.container {
	margin: 0 auto;
	max-width: 1440px;
	width: 84%;
}

.container-address,
.container-email,
.container-phone {
	display: flex;
	margin-bottom: 1rem;
}

.container-address img {
	margin-right: 1.9rem;
	align-self: flex-start;
}

.container-email img,
.container-phone img {
	align-self: center;
	margin-right: 1.5rem;
}

.feature {
	padding-top: 6rem;
}

.footer {
	padding-top: 15rem;
}

.footer-links-one {
	margin: 3.5rem 0 2.5rem 0;
}

.footer-links-two {
	margin-bottom: 3.5rem;
}

.logo-footer {
	margin-bottom: 2.2rem;
}

.section-productive {
	padding: 9rem 0;
}

.section-signup {
	border-radius: 15px;
	padding: 0 1.5rem 2rem 1.5rem;
	position: absolute;
	right: 5%;
	left: 5%;
	top: 3460px;
}

.section-testimonials {
	padding-bottom: 20rem;
}

.social-links {
	padding-bottom: 3.5rem;
}

.text-center {
	text-align: center;
}

//=======COMPONENTS=======//
//navbar
.navbar {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 2rem 1.5rem 3rem 1.5rem;
}

.logo-header {
	width: 90px;
}

.navbar-links {
	display: flex;
	justify-content: space-between;
	width: 170px;
}

//testimonial card
.card {
	background-color: $color-primary-100;
	border-radius: 2%;
	margin: 0 auto;
	padding: 1.8rem 1.5rem;
	width: 75%;
}

.img-quotes {
	max-width: 25px;
	margin-left: 15%;
}

.img-profile {
	border-radius: 50%;
	margin-right: 0.7rem;
	max-width: 1.6rem;
	align-self: center;
}

.profile {
	display: flex;
	flex-grow: none;
	font-size: 0.6875rem;
}

.profile-name {
	font-weight: 700;
}

.profile-title {
	font-size: 0.625rem;
}

.testimonial {
	font-size: 0.6875rem;
	line-height: 1.8;
	padding-bottom: 1rem;
}

.testimonial-cards {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
}

// button
.btn {
	background: linear-gradient(to right, $color-accent-cyan, $color-accent-blue);
	border: none;
	border-radius: 30px;
	color: $color-neutral;
	cursor: pointer;
	font-weight: 700;
	padding: 1em 0 1em 0;
}

.btn:hover {
	background: lightblue;
}

.btn-signup {
	width: 100%;
}

.btn-intro {
	margin: 1.8rem 0 5rem;
	width: 230px;
}
