@import "./resets";
@import "./variables";

//=======GENERAL=======//
img {
	height: auto;
	max-width: 100%;
}

ul {
	list-style: none;
}

.footer {
	background-color: $color-primary-400;
}

.footer-social a:hover {
	color: $color-accent-cyan;
}

.header,
.section-signup,
.section-intro {
	background-color: $color-primary-200;
}

.input-email {
	border-radius: 30px;
	margin: 1.5rem 0 1.4rem 0;
	padding: 1rem;
	width: 100%;
}

.section-features,
.section-productive,
.section-testimonials {
	background-color: $color-primary-300;
}

.section-signup {
	box-shadow: 5px 5px 10px black;
}

//=======TYPOGRAPHY=======//
a {
	color: $color-neutral;
	text-decoration: none;
}

body {
	color: $color-neutral;
	font-family: $font-primary;
	font-size: 0.875rem;
}

button,
h1,
h2,
nav {
	font-family: $font-secondary;
}

h1 {
	font-size: 1.6875rem;
	line-height: 1.5;
}

@media (min-width: 1024px) {
	h1 {
		font-size: 2.5rem;
	}
}

p {
	line-height: 1.6;
}

@media (min-width: 1024px) {
	.footer {
		font-size: 1.125rem;
	}
}

.footer-links a:hover {
	text-decoration: underline;
}

.heading-feature,
.heading-productive,
.heading-signup {
	font-size: 1.125rem;
}

@media (min-width: 1024px) {
	.heading-productive {
		font-size: 2.5rem;
	}
	.heading-signup {
		font-size: 1.875rem;
	}
}

.link-productive {
	border-bottom: 1px solid $color-accent-cyan;
	color: $color-accent-cyan;
	padding-bottom: 0.25rem;
}

.link-productive:hover {
	border-bottom: 1px solid $color-neutral;
	color: $color-neutral;
}

.link-productive img {
	vertical-align: middle;
}

.link-productive img:hover {
	color: $color-accent-cyan;
}

@media (min-width: 1024px) {
	.section-features h2 {
		font-size: 1.375rem;
		font-weight: 700;
	}

	.section-features p,
	.section-productive p,
	.section-signup p {
		font-size: 1.125rem;
	}

	.section-intro p {
		font-size: 1.25rem;
	}
}

//=======LAYOUT=======//
h1 {
	padding: 2.25rem 0 1.75rem;
}

ul li {
	margin-bottom: 0.9rem;
}

.container {
	margin: 0 auto;
	width: 84%;
}

@media (min-width: 1440px) {
	.container {
		width: 60%;
	}
	.container-btn {
		flex-grow: 1;
	}
	.container-email {
		flex-grow: 4;
	}
}

.feature {
	padding-top: 6rem;
}

@media (min-width: 1024px) {
	.feature {
		padding-top: 0;
	}
}

.footer {
	padding-top: 15rem;
	position: relative;
}

.footer .container {
	max-width: 1225px;
}

.footer-address,
.footer-email,
.footer-phone {
	display: flex;
	margin-bottom: 1rem;
}

.footer-address img {
	align-self: flex-start;
	margin-right: 1.9rem;
}

.footer-email img,
.footer-phone img {
	align-self: center;
	margin-right: 1.5rem;
}

.footer-links-one {
	margin: 3.5rem 0 2.5rem 0;
}

.footer-links-two {
	margin-bottom: 3.5rem;
}

.footer-logo {
	margin-bottom: 2.2rem;
}

.footer-social {
	padding-bottom: 3.5rem;
}

@media (min-width: 1024px) {
	.footer-flex {
		display: flex;
		gap: 5rem;
		justify-content: space-between;
	}

	.footer .container {
		padding-bottom: 5rem;
		width: 85%;
	}

	.footer-email,
	.footer-links,
	.footer-social,
	.footer-phone {
		margin: 0;
		min-width: max-content;
	}

	.footer-phone {
		margin-bottom: 0.5rem;
	}
}

.heading-feature {
	padding: 2.25rem 0 1rem 0;
}

.heading-signup {
	margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
	.heading-productive {
		width: 350px;
	}
}

.section-intro .container {
	max-width: 870px;
}

@media (min-width: 1024px) {
	.section-intro p {
		margin: 0 auto;
		width: 72%;
	}
}

.section-features .container {
	max-width: 950px;
}

@media (min-width: 1024px) {
	.section-features .container {
		display: grid;
		gap: 120px;
		grid-template: repeat(2, auto) / repeat(2, auto);
		padding-top: 5rem;
		width: 65%;
	}
}

.section-productive {
	padding: 9rem 0;
}

.section-productive .container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	max-width: 1250px;
}

@media (min-width: 1024px) {
	.section-productive .container {
		flex-direction: row;
		gap: 4rem;
		width: 85%;
	}
	.section-productive .container > * {
		flex: 1;
	}
	.section-productive-text {
		align-items: center;
		display: flex;
	}
}

.section-signup {
	border-radius: 15px;
	left: 6%;
	max-width: 870px;
	padding: 2.5rem 1.5rem 2.25rem 1.5rem;
	position: absolute;
	right: 6%;
	top: -11rem;
}

@media (min-width: 1024px) {
	.section-signup {
		margin: 0 auto;
		padding: 2.5rem 5rem 2.25rem 5rem;
		top: -11rem;
		width: 60%;
	}
}

.section-testimonials {
	padding-bottom: 20rem;
}

@media (min-width: 1440px) {
	.signup-form {
		align-items: center;
		display: flex;
		gap: 2rem;
	}
}

.text-center {
	text-align: center;
}

//=======COMPONENTS=======//
//navbar
.navbar {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1300px;
	padding: 2rem 0 3rem 0;
	width: 87%;
}

@media (min-width: 1024px) {
	.navbar {
		padding-top: 4.5rem;
		width: 88%;
	}
}

.logo-header {
	width: 90px;
}

@media (min-width: 1024px) {
	.logo-header {
		width: 11rem;
	}
}

.navbar-links {
	display: flex;
	font-size: 0.875rem;
	justify-content: space-between;
	width: 170px;
}

@media (min-width: 1024px) {
	.navbar-links {
		display: flex;
		font-size: 1.25rem;
		justify-content: space-between;
		width: 300px;
	}
}

.navbar-links a:hover {
	text-decoration: underline;
}

//testimonial card
.card {
	background-color: $color-primary-100;
	border-radius: 2%;
	margin: 0 auto;
	padding: 1.8rem 1.5rem;
	position: relative;
	width: 75%;
}

.img-quotes {
	width: 25px;
	position: absolute;
	top: -15px;
	left: -2px;
}

.img-profile {
	border-radius: 50%;
	margin-right: 0.7rem;
	max-width: 1.6rem;
	align-self: center;
}

.profile {
	display: flex;
	flex-grow: none;
	font-size: 0.6875rem;
}

.profile-name {
	font-weight: 700;
}

.profile-title {
	font-size: 0.625rem;
}

.testimonial {
	font-size: 0.75rem;
	line-height: 1.8;
	padding-bottom: 1rem;
}

@media (min-width: 1024px) {
	.testimonial {
		font-size: 1rem;
	}
}

.testimonial-cards {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
}

@media (min-width: 1024px) {
	.testimonial-cards {
		flex-direction: row;
		gap: 2rem;
		margin: 0 auto;
		width: 85%;
		max-width: 73rem;
	}
}

// button
.btn {
	background: linear-gradient(to right, $color-accent-cyan, $color-accent-blue);
	border: none;
	border-radius: 30px;
	color: $color-neutral;
	cursor: pointer;
	font-weight: 700;
}

.btn:hover {
	background: lightblue;
}

.btn-signup {
	padding: 1.25em 0;
	width: 100%;
}

.btn-intro {
	margin: 1.8rem 0 5rem;
	width: 75%;
	padding: 1em 0;
}

@media (min-width: 1024px) {
	.btn-intro {
		font-size: 1.25rem;
		width: 35%;
	}
}
